.akd.ProseMirror {
  --akd-inline-code-bg-color: var(--akd-gray-light-a-100);
  --akd-inline-code-text-color: var(--akd-gray-light-a-700);
  --akd-inline-code-border-color: var(--akd-gray-light-a-200);
  --akd-codeblock-bg: var(--akd-gray-light-a-50);
  --akd-codeblock-text: var(--akd-gray-light-a-800);
  --akd-codeblock-border: var(--akd-gray-light-a-200);

  .dark & {
    --akd-inline-code-bg-color: var(--akd-gray-dark-a-100);
    --akd-inline-code-text-color: var(--akd-gray-dark-a-700);
    --akd-inline-code-border-color: var(--akd-gray-dark-a-200);
    --akd-codeblock-bg: var(--akd-gray-dark-a-50);
    --akd-codeblock-text: var(--akd-gray-dark-a-800);
    --akd-codeblock-border: var(--akd-gray-dark-a-200);
  }
}

/* =====================
   CODE FORMATTING
   ===================== */
.akd.ProseMirror {
  // Inline code
  code {
    background-color: var(--akd-inline-code-bg-color);
    color: var(--akd-inline-code-text-color);
    border: 1px solid var(--akd-inline-code-border-color);
    font-family: "JetBrains Mono NL", monospace;
    font-size: 0.875em;
    line-height: 1.4;
    border-radius: 6px/0.375rem;
    padding: 0.1em 0.2em;
  }

  // Code blocks
  pre {
    background-color: var(--akd-codeblock-bg);
    color: var(--akd-codeblock-text);
    border: 1px solid var(--akd-codeblock-border);
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 1em;
    font-size: 1rem;
    border-radius: 6px/0.375rem;

    code {
      background-color: transparent;
      border: none;
      border-radius: 0;
      -webkit-text-fill-color: inherit;
      color: inherit;
    }
  }
}
