.akd-badge-group {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.akd-badge-group {
  [data-orientation="vertical"] {
    flex-direction: column;
  }

  [data-orientation="horizontal"] {
    flex-direction: row;
  }
}
