.akd-badge {
  /************************************************** 
    Default 
  **************************************************/

  /* Light mode */
  --akd-badge-border-color: var(--akd-gray-light-a-200);
  --akd-badge-border-color-subdued: var(--akd-gray-light-a-200);
  --akd-badge-border-color-emphasized: var(--akd-gray-light-a-600);
  --akd-badge-text-color: var(--akd-gray-light-a-500);
  --akd-badge-text-color-subdued: var(
    --akd-gray-light-a-400
  ); //less important badge
  --akd-badge-text-color-emphasized: var(
    --akd-gray-light-a-600
  ); //more important badge
  --akd-badge-bg-color: var(--white);
  --akd-badge-bg-color-subdued: var(--white); //less important badge
  --akd-badge-bg-color-emphasized: var(--white); //more important badge
  --akd-badge-icon-color: var(--akd-gray-light-a-500);
  --akd-badge-icon-color-subdued: var(
    --akd-gray-light-a-400
  ); //less important badge
  --akd-badge-icon-color-emphasized: var(
    --akd-brand-color-600
  ); //more important badge

  /* Dark mode */
  .dark & {
    --akd-badge-border-color: var(--akd-gray-dark-a-200);
    --akd-badge-border-color-subdued: var(--akd-gray-dark-a-200);
    --akd-badge-border-color-emphasized: var(--akd-gray-dark-a-500);
    --akd-badge-text-color: var(--akd-gray-dark-a-500);
    --akd-badge-text-color-subdued: var(
      --akd-gray-dark-a-400
    ); //less important badge
    --akd-badge-text-color-emphasized: var(
      --akd-gray-dark-a-600
    ); //more important badge
    --akd-badge-bg-color: var(--black);
    --akd-badge-bg-color-subdued: var(--black); //less important badge
    --akd-badge-bg-color-emphasized: var(--black); //more important badge
    --akd-badge-icon-color: var(--akd-gray-dark-a-500);
    --akd-badge-icon-color-subdued: var(
      --akd-gray-dark-a-400
    ); //less important badge
    --akd-badge-icon-color-emphasized: var(
      --akd-brand-color-400
    ); //more important badge
  }

  /************************************************** 
    Ghost 
  **************************************************/

  &[data-style="ghost"] {
    /* Light mode */
    --akd-badge-border-color: var(--akd-gray-light-a-200);
    --akd-badge-border-color-subdued: var(--akd-gray-light-a-200);
    --akd-badge-border-color-emphasized: var(--akd-gray-light-a-600);
    --akd-badge-text-color: var(--akd-gray-light-a-500);
    --akd-badge-text-color-subdued: var(
      --akd-gray-light-a-400
    ); //less important badge
    --akd-badge-text-color-emphasized: var(
      --akd-gray-light-a-600
    ); //more important badge
    --akd-badge-bg-color: var(--transparent);
    --akd-badge-bg-color-subdued: var(--transparent); //less important badge
    --akd-badge-bg-color-emphasized: var(--transparent); //more important badge
    --akd-badge-icon-color: var(--akd-gray-light-a-500);
    --akd-badge-icon-color-subdued: var(
      --akd-gray-light-a-400
    ); //less important badge
    --akd-badge-icon-color-emphasized: var(
      --akd-brand-color-600
    ); //more important badge

    /* Dark mode */
    .dark & {
      --akd-badge-border-color: var(--akd-gray-dark-a-200);
      --akd-badge-border-color-subdued: var(--akd-gray-dark-a-200);
      --akd-badge-border-color-emphasized: var(--akd-gray-dark-a-500);
      --akd-badge-text-color: var(--akd-gray-dark-a-500);
      --akd-badge-text-color-subdued: var(
        --akd-gray-dark-a-400
      ); //less important badge
      --akd-badge-text-color-emphasized: var(
        --akd-gray-dark-a-600
      ); //more important badge
      --akd-badge-bg-color: var(--transparent);
      --akd-badge-bg-color-subdued: var(--transparent); //less important badge
      --akd-badge-bg-color-emphasized: var(
        --transparent
      ); //more important badge
      --akd-badge-icon-color: var(--akd-gray-dark-a-500);
      --akd-badge-icon-color-subdued: var(
        --akd-gray-dark-a-400
      ); //less important badge
      --akd-badge-icon-color-emphasized: var(
        --akd-brand-color-400
      ); //more important badge
    }
  }

  /************************************************** 
    Gray 
  **************************************************/

  &[data-style="gray"] {
    /* Light mode */
    --akd-badge-border-color: var(--akd-gray-light-a-200);
    --akd-badge-border-color-subdued: var(--akd-gray-light-a-200);
    --akd-badge-border-color-emphasized: var(--akd-gray-light-a-500);
    --akd-badge-text-color: var(--akd-gray-light-a-500);
    --akd-badge-text-color-subdued: var(
      --akd-gray-light-a-400
    ); //less important badge
    --akd-badge-text-color-emphasized: var(--white); //more important badge
    --akd-badge-bg-color: var(--akd-gray-light-a-100);
    --akd-badge-bg-color-subdued: var(
      --akd-gray-light-a-50
    ); //less important badge
    --akd-badge-bg-color-emphasized: var(
      --akd-gray-light-a-700
    ); //more important badge
    --akd-badge-icon-color: var(--akd-gray-light-a-500);
    --akd-badge-icon-color-subdued: var(
      --akd-gray-light-a-400
    ); //less important badge
    --akd-badge-icon-color-emphasized: var(--white); //more important badge

    /* Dark mode */
    .dark & {
      --akd-badge-border-color: var(--akd-gray-dark-a-200);
      --akd-badge-border-color-subdued: var(--akd-gray-dark-a-200);
      --akd-badge-border-color-emphasized: var(--akd-gray-dark-a-500);
      --akd-badge-text-color: var(--akd-gray-dark-a-500);
      --akd-badge-text-color-subdued: var(
        --akd-gray-dark-a-400
      ); //less important badge
      --akd-badge-text-color-emphasized: var(--black); //more important badge
      --akd-badge-bg-color: var(--akd-gray-dark-a-100);
      --akd-badge-bg-color-subdued: var(
        --akd-gray-dark-a-50
      ); //less important badge
      --akd-badge-bg-color-emphasized: var(
        --akd-gray-dark-a-800
      ); //more important badge
      --akd-badge-icon-color: var(--akd-gray-dark-a-500);
      --akd-badge-icon-color-subdued: var(
        --akd-gray-dark-a-400
      ); //less important badge
      --akd-badge-icon-color-emphasized: var(--black); //more important badge
    }
  }

  /************************************************** 
    Green 
  **************************************************/

  &[data-style="green"] {
    /* Light mode */
    --akd-badge-border-color: var(--akd-color-green-inc-2);
    --akd-badge-border-color-subdued: var(--akd-color-green-inc-3);
    --akd-badge-border-color-emphasized: var(--akd-color-green-dec-2);
    --akd-badge-text-color: var(--akd-color-green-dec-3);
    --akd-badge-text-color-subdued: var(
      --akd-color-green-dec-2
    ); //less important badge
    --akd-badge-text-color-emphasized: var(
      --akd-color-green-inc-5
    ); //more important badge
    --akd-badge-bg-color: var(--akd-color-green-inc-4);
    --akd-badge-bg-color-subdued: var(
      --akd-color-green-inc-5
    ); //less important badge
    --akd-badge-bg-color-emphasized: var(
      --akd-color-green-dec-1
    ); //more important badge
    --akd-badge-icon-color: var(--akd-color-green-dec-3);
    --akd-badge-icon-color-subdued: var(
      --akd-color-green-dec-2
    ); //less important badge
    --akd-badge-icon-color-emphasized: var(
      --akd-color-green-inc-5
    ); //more important badge

    /* Dark mode */
    .dark & {
      --akd-badge-border-color: var(--akd-color-green-dec-2);
      --akd-badge-border-color-subdued: var(--akd-color-green-dec-3);
      --akd-badge-border-color-emphasized: var(--akd-color-green-base);
      --akd-badge-text-color: var(--akd-color-green-inc-3);
      --akd-badge-text-color-subdued: var(
        --akd-color-green-inc-2
      ); //less important badge
      --akd-badge-text-color-emphasized: var(
        --akd-color-green-dec-5
      ); //more important badge
      --akd-badge-bg-color: var(--akd-color-green-dec-4);
      --akd-badge-bg-color-subdued: var(
        --akd-color-green-dec-5
      ); //less important badge
      --akd-badge-bg-color-emphasized: var(
        --akd-color-green-inc-1
      ); //more important badge
      --akd-badge-icon-color: var(--akd-color-green-inc-3);
      --akd-badge-icon-color-subdued: var(
        --akd-color-green-inc-2
      ); //less important badge
      --akd-badge-icon-color-emphasized: var(
        --akd-color-green-dec-5
      ); //more important badge
    }
  }

  /************************************************** 
    Yellow 
  **************************************************/

  &[data-style="yellow"] {
    /* Light mode */
    --akd-badge-border-color: var(--akd-color-yellow-inc-2);
    --akd-badge-border-color-subdued: var(--akd-color-yellow-inc-3);
    --akd-badge-border-color-emphasized: var(--akd-color-yellow-dec-1);
    --akd-badge-text-color: var(--akd-color-yellow-dec-3);
    --akd-badge-text-color-subdued: var(
      --akd-color-yellow-dec-2
    ); //less important badge
    --akd-badge-text-color-emphasized: var(
      --akd-color-yellow-dec-3
    ); //more important badge
    --akd-badge-bg-color: var(--akd-color-yellow-inc-4);
    --akd-badge-bg-color-subdued: var(
      --akd-color-yellow-inc-5
    ); //less important badge
    --akd-badge-bg-color-emphasized: var(
      --akd-color-yellow-base
    ); //more important badge
    --akd-badge-icon-color: var(--akd-color-yellow-dec-3);
    --akd-badge-icon-color-subdued: var(
      --akd-color-yellow-dec-2
    ); //less important badge
    --akd-badge-icon-color-emphasized: var(
      --akd-color-yellow-dec-3
    ); //more important badge

    /* Dark mode */
    .dark & {
      --akd-badge-border-color: var(--akd-color-yellow-dec-2);
      --akd-badge-border-color-subdued: var(--akd-color-yellow-dec-3);
      --akd-badge-border-color-emphasized: var(--akd-color-yellow-inc-1);
      --akd-badge-text-color: var(--akd-color-yellow-inc-3);
      --akd-badge-text-color-subdued: var(
        --akd-color-yellow-inc-2
      ); //less important badge
      --akd-badge-text-color-emphasized: var(
        --akd-color-yellow-dec-3
      ); //more important badge
      --akd-badge-bg-color: var(--akd-color-yellow-dec-4);
      --akd-badge-bg-color-subdued: var(
        --akd-color-yellow-dec-5
      ); //less important badge
      --akd-badge-bg-color-emphasized: var(
        --akd-color-yellow-base
      ); //more important badge
      --akd-badge-icon-color: var(--akd-color-yellow-inc-3);
      --akd-badge-icon-color-subdued: var(
        --akd-color-yellow-inc-2
      ); //less important badge
      --akd-badge-icon-color-emphasized: var(
        --akd-color-yellow-dec-3
      ); //more important badge
    }
  }

  /************************************************** 
    Red 
  **************************************************/

  &[data-style="red"] {
    /* Light mode */
    --akd-badge-border-color: var(--akd-color-red-inc-2);
    --akd-badge-border-color-subdued: var(--akd-color-red-inc-3);
    --akd-badge-border-color-emphasized: var(--akd-color-red-dec-2);
    --akd-badge-text-color: var(--akd-color-red-dec-3);
    --akd-badge-text-color-subdued: var(
      --akd-color-red-dec-2
    ); //less important badge
    --akd-badge-text-color-emphasized: var(
      --akd-color-red-inc-5
    ); //more important badge
    --akd-badge-bg-color: var(--akd-color-red-inc-4);
    --akd-badge-bg-color-subdued: var(
      --akd-color-red-inc-5
    ); //less important badge
    --akd-badge-bg-color-emphasized: var(
      --akd-color-red-dec-1
    ); //more important badge
    --akd-badge-icon-color: var(--akd-color-red-dec-3);
    --akd-badge-icon-color-subdued: var(
      --akd-color-red-dec-2
    ); //less important badge
    --akd-badge-icon-color-emphasized: var(
      --akd-color-red-inc-5
    ); //more important badge

    /* Dark mode */
    .dark & {
      --akd-badge-border-color: var(--akd-color-red-dec-2);
      --akd-badge-border-color-subdued: var(--akd-color-red-dec-3);
      --akd-badge-border-color-emphasized: var(--akd-color-red-base);
      --akd-badge-text-color: var(--akd-color-red-inc-3);
      --akd-badge-text-color-subdued: var(
        --akd-color-red-inc-2
      ); //less important badge
      --akd-badge-text-color-emphasized: var(
        --akd-color-red-dec-5
      ); //more important badge
      --akd-badge-bg-color: var(--akd-color-red-dec-4);
      --akd-badge-bg-color-subdued: var(
        --akd-color-red-dec-5
      ); //less important badge
      --akd-badge-bg-color-emphasized: var(
        --akd-color-red-inc-1
      ); //more important badge
      --akd-badge-icon-color: var(--akd-color-red-inc-3);
      --akd-badge-icon-color-subdued: var(
        --akd-color-red-inc-2
      ); //less important badge
      --akd-badge-icon-color-emphasized: var(
        --akd-color-red-dec-5
      ); //more important badge
    }
  }

  /************************************************** 
    Brand 
  **************************************************/

  &[data-style="brand"] {
    /* Light mode */
    --akd-badge-border-color: var(--akd-brand-color-300);
    --akd-badge-border-color-subdued: var(--akd-brand-color-200);
    --akd-badge-border-color-emphasized: var(--akd-brand-color-600);
    --akd-badge-text-color: var(--akd-brand-color-800);
    --akd-badge-text-color-subdued: var(
      --akd-brand-color-700
    ); //less important badge
    --akd-badge-text-color-emphasized: var(
      --akd-brand-color-50
    ); //more important badge
    --akd-badge-bg-color: var(--akd-brand-color-100);
    --akd-badge-bg-color-subdued: var(
      --akd-brand-color-50
    ); //less important badge
    --akd-badge-bg-color-emphasized: var(
      --akd-brand-color-600
    ); //more important badge
    --akd-badge-icon-color: var(--akd-brand-color-800);
    --akd-badge-icon-color-subdued: var(
      --akd-brand-color-700
    ); //less important badge
    --akd-badge-icon-color-emphasized: var(
      --akd-brand-color-100
    ); //more important badge

    /* Dark mode */
    .dark & {
      --akd-badge-border-color: var(--akd-brand-color-700);
      --akd-badge-border-color-subdued: var(--akd-brand-color-800);
      --akd-badge-border-color-emphasized: var(--akd-brand-color-400);
      --akd-badge-text-color: var(--akd-brand-color-200);
      --akd-badge-text-color-subdued: var(
        --akd-brand-color-300
      ); //less important badge
      --akd-badge-text-color-emphasized: var(
        --akd-brand-color-950
      ); //more important badge
      --akd-badge-bg-color: var(--akd-brand-color-900);
      --akd-badge-bg-color-subdued: var(
        --akd-brand-color-950
      ); //less important badge
      --akd-badge-bg-color-emphasized: var(
        --akd-brand-color-400
      ); //more important badge
      --akd-badge-icon-color: var(--akd-brand-color-200);
      --akd-badge-icon-color-subdued: var(
        --akd-brand-color-300
      ); //less important badge
      --akd-badge-icon-color-emphasized: var(
        --akd-brand-color-900
      ); //more important badge
    }
  }
}
