.akd.ProseMirror {
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  > img:not([data-type="emoji"] img) {
    // margin: 2rem 0;
    outline: 0.125rem solid transparent;
    border-radius: var(--akd-radius-xs, 0.25rem);
  }

  img:not([data-type="emoji"] img).ProseMirror-selectednode {
    outline-color: var(--akd-brand-color-500);
  }

  // Thread image handling
  .akd-thread:has(> img) {
    // margin: 2rem 0;

    img {
      outline: 0.125rem solid transparent;
      border-radius: var(--akd-radius-xs, 0.25rem);
    }
  }

  .akd-thread img {
    margin: 0;
  }
}
