@import "tailwindcss";
@import "../styles/_variables.scss";
@import "../styles/_keyframe-animations.scss";

/* Custom scrollbar hide utility */
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
