.akd-button {
  /************************************************** 
      Default button background color 
  **************************************************/

  /* Light mode */
  --akd-button-default-bg-color: var(--akd-gray-light-a-100);
  --akd-button-hover-bg-color: var(--akd-gray-light-200);
  --akd-button-active-bg-color: var(--akd-gray-light-a-200);
  --akd-button-active-bg-color-emphasized: var(
    --akd-brand-color-100
  ); //more important active state
  --akd-button-active-bg-color-subdued: var(
    --akd-gray-light-a-200
  ); //less important active state
  --akd-button-active-hover-bg-color: var(--akd-gray-light-300);
  --akd-button-active-hover-bg-color-emphasized: var(
    --akd-brand-color-200
  ); //more important active state hover
  --akd-button-active-hover-bg-color-subdued: var(
    --akd-gray-light-a-300
  ); //less important active state hover
  --akd-button-disabled-bg-color: var(--akd-gray-light-a-50);

  /* Dark mode */
  .dark & {
    --akd-button-default-bg-color: var(--akd-gray-dark-a-100);
    --akd-button-hover-bg-color: var(--akd-gray-dark-200);
    --akd-button-active-bg-color: var(--akd-gray-dark-a-200);
    --akd-button-active-bg-color-emphasized: var(
      --akd-brand-color-900
    ); //more important active state
    --akd-button-active-bg-color-subdued: var(
      --akd-gray-dark-a-200
    ); //less important active state
    --akd-button-active-hover-bg-color: var(--akd-gray-dark-300);
    --akd-button-active-hover-bg-color-emphasized: var(
      --akd-brand-color-800
    ); //more important active state hover
    --akd-button-active-hover-bg-color-subdued: var(
      --akd-gray-dark-a-300
    ); //less important active state hover
    --akd-button-disabled-bg-color: var(--akd-gray-dark-a-50);
  }

  /************************************************** 
      Default button text color 
  **************************************************/

  /* Light mode */
  --akd-button-default-text-color: var(--akd-gray-light-a-600);
  --akd-button-hover-text-color: var(--akd-gray-light-a-900);
  --akd-button-active-text-color: var(--akd-gray-light-a-900);
  --akd-button-active-text-color-emphasized: var(--akd-gray-light-a-900);
  --akd-button-active-text-color-subdued: var(--akd-gray-light-a-900);
  --akd-button-disabled-text-color: var(--akd-gray-light-a-400);

  /* Dark mode */
  .dark & {
    --akd-button-default-text-color: var(--akd-gray-dark-a-600);
    --akd-button-hover-text-color: var(--akd-gray-dark-a-900);
    --akd-button-active-text-color: var(--akd-gray-dark-a-900);
    --akd-button-active-text-color-emphasized: var(--akd-gray-dark-a-900);
    --akd-button-active-text-color-subdued: var(--akd-gray-dark-a-900);
    --akd-button-disabled-text-color: var(--akd-gray-dark-a-300);
  }

  /************************************************** 
      Default button icon color 
  **************************************************/

  /* Light mode */
  --akd-button-default-icon-color: var(--akd-gray-light-a-600);
  --akd-button-hover-icon-color: var(--akd-gray-light-a-900);
  --akd-button-active-icon-color: var(--akd-brand-color-500);
  --akd-button-active-icon-color-emphasized: var(--akd-brand-color-600);
  --akd-button-active-icon-color-subdued: var(--akd-gray-light-a-900);
  --akd-button-disabled-icon-color: var(--akd-gray-light-a-400);

  /* Dark mode */
  .dark & {
    --akd-button-default-icon-color: var(--akd-gray-dark-a-600);
    --akd-button-hover-icon-color: var(--akd-gray-dark-a-900);
    --akd-button-active-icon-color: var(--akd-brand-color-400);
    --akd-button-active-icon-color-emphasized: var(--akd-brand-color-400);
    --akd-button-active-icon-color-subdued: var(--akd-gray-dark-a-900);
    --akd-button-disabled-icon-color: var(--akd-gray-dark-a-400);
  }

  /************************************************** 
      Default button subicon color 
  **************************************************/

  /* Light mode */
  --akd-button-default-icon-sub-color: var(--akd-gray-light-a-400);
  --akd-button-hover-icon-sub-color: var(--akd-gray-light-a-500);
  --akd-button-active-icon-sub-color: var(--akd-gray-light-a-400);
  --akd-button-active-icon-sub-color-emphasized: var(--akd-gray-light-a-500);
  --akd-button-active-icon-sub-color-subdued: var(--akd-gray-light-a-400);
  --akd-button-disabled-icon-sub-color: var(--akd-gray-light-a-100);

  /* Dark mode */
  .dark & {
    --akd-button-default-icon-sub-color: var(--akd-gray-dark-a-300);
    --akd-button-hover-icon-sub-color: var(--akd-gray-dark-a-400);
    --akd-button-active-icon-sub-color: var(--akd-gray-dark-a-300);
    --akd-button-active-icon-sub-color-emphasized: var(--akd-gray-dark-a-400);
    --akd-button-active-icon-sub-color-subdued: var(--akd-gray-dark-a-300);
    --akd-button-disabled-icon-sub-color: var(--akd-gray-dark-a-100);
  }

  /************************************************** 
      Default button dropdown / arrows color 
  **************************************************/

  /* Light mode */
  --akd-button-default-dropdown-arrows-color: var(--akd-gray-light-a-600);
  --akd-button-hover-dropdown-arrows-color: var(--akd-gray-light-a-700);
  --akd-button-active-dropdown-arrows-color: var(--akd-gray-light-a-600);
  --akd-button-active-dropdown-arrows-color-emphasized: var(
    --akd-gray-light-a-700
  );
  --akd-button-active-dropdown-arrows-color-subdued: var(
    --akd-gray-light-a-600
  );
  --akd-button-disabled-dropdown-arrows-color: var(--akd-gray-light-a-400);

  /* Dark mode */
  .dark & {
    --akd-button-default-dropdown-arrows-color: var(--akd-gray-dark-a-600);
    --akd-button-hover-dropdown-arrows-color: var(--akd-gray-dark-a-700);
    --akd-button-active-dropdown-arrows-color: var(--akd-gray-dark-a-600);
    --akd-button-active-dropdown-arrows-color-emphasized: var(
      --akd-gray-dark-a-700
    );
    --akd-button-active-dropdown-arrows-color-subdued: var(
      --akd-gray-dark-a-600
    );
    --akd-button-disabled-dropdown-arrows-color: var(--akd-gray-dark-a-400);
  }

  /* ----------------------------------------------------------------
      --------------------------- GHOST BUTTON --------------------------
      ---------------------------------------------------------------- */

  &[data-style="ghost"] {
    /************************************************** 
        Ghost button background color 
    **************************************************/

    /* Light mode */
    --akd-button-default-bg-color: var(--transparent);
    --akd-button-hover-bg-color: var(--akd-gray-light-200);
    --akd-button-active-bg-color: var(--akd-gray-light-a-100);
    --akd-button-active-bg-color-emphasized: var(
      --akd-brand-color-100
    ); //more important active state
    --akd-button-active-bg-color-subdued: var(
      --akd-gray-light-a-100
    ); //less important active state
    --akd-button-active-hover-bg-color: var(--akd-gray-light-200);
    --akd-button-active-hover-bg-color-emphasized: var(
      --akd-brand-color-200
    ); //more important active state hover
    --akd-button-active-hover-bg-color-subdued: var(
      --akd-gray-light-a-200
    ); //less important active state hover
    --akd-button-disabled-bg-color: var(--transparent);

    /* Dark mode */
    .dark & {
      --akd-button-default-bg-color: var(--transparent);
      --akd-button-hover-bg-color: var(--akd-gray-dark-200);
      --akd-button-active-bg-color: var(--akd-gray-dark-a-100);
      --akd-button-active-bg-color-emphasized: var(
        --akd-brand-color-900
      ); //more important active state
      --akd-button-active-bg-color-subdued: var(
        --akd-gray-dark-a-100
      ); //less important active state
      --akd-button-active-hover-bg-color: var(--akd-gray-dark-200);
      --akd-button-active-hover-bg-color-emphasized: var(
        --akd-brand-color-800
      ); //more important active state hover
      --akd-button-active-hover-bg-color-subdued: var(
        --akd-gray-dark-a-200
      ); //less important active state hover
      --akd-button-disabled-bg-color: var(--transparent);
    }

    /************************************************** 
        Ghost button text color 
    **************************************************/

    /* Light mode */
    --akd-button-default-text-color: var(--akd-gray-light-a-600);
    --akd-button-hover-text-color: var(--akd-gray-light-a-900);
    --akd-button-active-text-color: var(--akd-gray-light-a-900);
    --akd-button-active-text-color-emphasized: var(--akd-gray-light-a-900);
    --akd-button-active-text-color-subdued: var(--akd-gray-light-a-900);
    --akd-button-disabled-text-color: var(--akd-gray-light-a-400);

    /* Dark mode */
    .dark & {
      --akd-button-default-text-color: var(--akd-gray-dark-a-600);
      --akd-button-hover-text-color: var(--akd-gray-dark-a-900);
      --akd-button-active-text-color: var(--akd-gray-dark-a-900);
      --akd-button-active-text-color-emphasized: var(--akd-gray-dark-a-900);
      --akd-button-active-text-color-subdued: var(--akd-gray-dark-a-900);
      --akd-button-disabled-text-color: var(--akd-gray-dark-a-300);
    }

    /************************************************** 
        Ghost button icon color 
    **************************************************/

    /* Light mode */
    --akd-button-default-icon-color: var(--akd-gray-light-a-600);
    --akd-button-hover-icon-color: var(--akd-gray-light-a-900);
    --akd-button-active-icon-color: var(--akd-brand-color-500);
    --akd-button-active-icon-color-emphasized: var(--akd-brand-color-600);
    --akd-button-active-icon-color-subdued: var(--akd-gray-light-a-900);
    --akd-button-disabled-icon-color: var(--akd-gray-light-a-400);

    /* Dark mode */
    .dark & {
      --akd-button-default-icon-color: var(--akd-gray-dark-a-600);
      --akd-button-hover-icon-color: var(--akd-gray-dark-a-900);
      --akd-button-active-icon-color: var(--akd-brand-color-400);
      --akd-button-active-icon-color-emphasized: var(--akd-brand-color-300);
      --akd-button-active-icon-color-subdued: var(--akd-gray-dark-a-900);
      --akd-button-disabled-icon-color: var(--akd-gray-dark-a-400);
    }

    /************************************************** 
        Ghost button subicon color 
    **************************************************/

    /* Light mode */
    --akd-button-default-icon-sub-color: var(--akd-gray-light-a-400);
    --akd-button-hover-icon-sub-color: var(--akd-gray-light-a-500);
    --akd-button-active-icon-sub-color: var(--akd-gray-light-a-400);
    --akd-button-active-icon-sub-color-emphasized: var(--akd-gray-light-a-500);
    --akd-button-active-icon-sub-color-subdued: var(--akd-gray-light-a-400);
    --akd-button-disabled-icon-sub-color: var(--akd-gray-light-a-100);

    /* Dark mode */
    .dark & {
      --akd-button-default-icon-sub-color: var(--akd-gray-dark-a-300);
      --akd-button-hover-icon-sub-color: var(--akd-gray-dark-a-400);
      --akd-button-active-icon-sub-color: var(--akd-gray-dark-a-300);
      --akd-button-active-icon-sub-color-emphasized: var(--akd-gray-dark-a-400);
      --akd-button-active-icon-sub-color-subdued: var(--akd-gray-dark-a-300);
      --akd-button-disabled-icon-sub-color: var(--akd-gray-dark-a-100);
    }

    /************************************************** 
        Ghost button dropdown / arrows color 
    **************************************************/

    /* Light mode */
    --akd-button-default-dropdown-arrows-color: var(--akd-gray-light-a-600);
    --akd-button-hover-dropdown-arrows-color: var(--akd-gray-light-a-700);
    --akd-button-active-dropdown-arrows-color: var(--akd-gray-light-a-600);
    --akd-button-active-dropdown-arrows-color-emphasized: var(
      --akd-gray-light-a-700
    );
    --akd-button-active-dropdown-arrows-color-subdued: var(
      --akd-gray-light-a-600
    );
    --akd-button-disabled-dropdown-arrows-color: var(--akd-gray-light-a-400);

    /* Dark mode */
    .dark & {
      --akd-button-default-dropdown-arrows-color: var(--akd-gray-dark-a-600);
      --akd-button-hover-dropdown-arrows-color: var(--akd-gray-dark-a-700);
      --akd-button-active-dropdown-arrows-color: var(--akd-gray-dark-a-600);
      --akd-button-active-dropdown-arrows-color-emphasized: var(
        --akd-gray-dark-a-700
      );
      --akd-button-active-dropdown-arrows-color-subdued: var(
        --akd-gray-dark-a-600
      );
      --akd-button-disabled-dropdown-arrows-color: var(--akd-gray-dark-a-400);
    }
  }

  /* ----------------------------------------------------------------
      -------------------------- PRIMARY BUTTON -------------------------
      ---------------------------------------------------------------- */

  &[data-style="primary"] {
    /************************************************** 
        Primary button background color 
    **************************************************/

    /* Light mode */
    --akd-button-default-bg-color: var(--akd-brand-color-500);
    --akd-button-hover-bg-color: var(--akd-brand-color-600);
    --akd-button-active-bg-color: var(--akd-brand-color-100);
    --akd-button-active-bg-color-emphasized: var(
      --akd-brand-color-100
    ); //more important active state
    --akd-button-active-bg-color-subdued: var(
      --akd-brand-color-100
    ); //less important active state
    --akd-button-active-hover-bg-color: var(--akd-brand-color-200);
    --akd-button-active-hover-bg-color-emphasized: var(
      --akd-brand-color-200
    ); //more important active state hover
    --akd-button-active-hover-bg-color-subdued: var(
      --akd-brand-color-200
    ); //less important active state hover
    --akd-button-disabled-bg-color: var(--akd-gray-light-a-100);

    /* Dark mode */
    .dark & {
      --akd-button-default-bg-color: var(--akd-brand-color-500);
      --akd-button-hover-bg-color: var(--akd-brand-color-600);
      --akd-button-active-bg-color: var(--akd-brand-color-900);
      --akd-button-active-bg-color-emphasized: var(
        --akd-brand-color-900
      ); //more important active state
      --akd-button-active-bg-color-subdued: var(
        --akd-brand-color-900
      ); //less important active state
      --akd-button-active-hover-bg-color: var(--akd-brand-color-800);
      --akd-button-active-hover-bg-color-emphasized: var(
        --akd-brand-color-800
      ); //more important active state hover
      --akd-button-active-hover-bg-color-subdued: var(
        --akd-brand-color-800
      ); //less important active state hover
      --akd-button-disabled-bg-color: var(--akd-gray-dark-a-100);
    }

    /************************************************** 
        Primary button text color 
    **************************************************/

    /* Light mode */
    --akd-button-default-text-color: var(--white);
    --akd-button-hover-text-color: var(--white);
    --akd-button-active-text-color: var(--akd-gray-light-a-900);
    --akd-button-active-text-color-emphasized: var(--akd-gray-light-a-900);
    --akd-button-active-text-color-subdued: var(--akd-gray-light-a-900);
    --akd-button-disabled-text-color: var(--akd-gray-light-a-400);

    /* Dark mode */
    .dark & {
      --akd-button-default-text-color: var(--white);
      --akd-button-hover-text-color: var(--white);
      --akd-button-active-text-color: var(--akd-gray-dark-a-900);
      --akd-button-active-text-color-emphasized: var(--akd-gray-dark-a-900);
      --akd-button-active-text-color-subdued: var(--akd-gray-dark-a-900);
      --akd-button-disabled-text-color: var(--akd-gray-dark-a-300);
    }

    /************************************************** 
        Primary button icon color 
    **************************************************/

    /* Light mode */
    --akd-button-default-icon-color: var(--white);
    --akd-button-hover-icon-color: var(--white);
    --akd-button-active-icon-color: var(--akd-brand-color-600);
    --akd-button-active-icon-color-emphasized: var(--akd-brand-color-600);
    --akd-button-active-icon-color-subdued: var(--akd-brand-color-600);
    --akd-button-disabled-icon-color: var(--akd-gray-light-a-400);

    /* Dark mode */
    .dark & {
      --akd-button-default-icon-color: var(--white);
      --akd-button-hover-icon-color: var(--white);
      --akd-button-active-icon-color: var(--akd-brand-color-400);
      --akd-button-active-icon-color-emphasized: var(--akd-brand-color-400);
      --akd-button-active-icon-color-subdued: var(--akd-brand-color-400);
      --akd-button-disabled-icon-color: var(--akd-gray-dark-a-300);
    }

    /************************************************** 
        Primary button subicon color 
    **************************************************/

    /* Light mode */
    --akd-button-default-icon-sub-color: var(--akd-gray-dark-a-500);
    --akd-button-hover-icon-sub-color: var(--akd-gray-dark-a-500);
    --akd-button-active-icon-sub-color: var(--akd-gray-light-a-500);
    --akd-button-active-icon-sub-color-emphasized: var(--akd-gray-light-a-500);
    --akd-button-active-icon-sub-color-subdued: var(--akd-gray-light-a-500);
    --akd-button-disabled-icon-sub-color: var(--akd-gray-light-a-100);

    /* Dark mode */
    .dark & {
      --akd-button-default-icon-sub-color: var(--akd-gray-dark-a-400);
      --akd-button-hover-icon-sub-color: var(--akd-gray-dark-a-500);
      --akd-button-active-icon-sub-color: var(--akd-gray-dark-a-300);
      --akd-button-active-icon-sub-color-emphasized: var(--akd-gray-dark-a-400);
      --akd-button-active-icon-sub-color-subdued: var(--akd-gray-dark-a-300);
      --akd-button-disabled-icon-sub-color: var(--akd-gray-dark-a-100);
    }

    /************************************************** 
        Primary button dropdown / arrows color 
    **************************************************/

    /* Light mode */
    --akd-button-default-dropdown-arrows-color: var(--white);
    --akd-button-hover-dropdown-arrows-color: var(--white);
    --akd-button-active-dropdown-arrows-color: var(--akd-gray-light-a-700);
    --akd-button-active-dropdown-arrows-color-emphasized: var(
      --akd-gray-light-a-700
    );
    --akd-button-active-dropdown-arrows-color-subdued: var(
      --akd-gray-light-a-700
    );
    --akd-button-disabled-dropdown-arrows-color: var(--akd-gray-light-a-400);

    /* Dark mode */
    .dark & {
      --akd-button-default-dropdown-arrows-color: var(--white);
      --akd-button-hover-dropdown-arrows-color: var(--white);
      --akd-button-active-dropdown-arrows-color: var(--akd-gray-dark-a-600);
      --akd-button-active-dropdown-arrows-color-emphasized: var(
        --akd-gray-dark-a-600
      );
      --akd-button-active-dropdown-arrows-color-subdued: var(
        --akd-gray-dark-a-600
      );
      --akd-button-disabled-dropdown-arrows-color: var(--akd-gray-dark-a-400);
    }
  }
}
