.akd-separator {
  --akd-link-border-color: var(--akd-gray-light-a-200);

  .dark & {
    --akd-link-border-color: var(--akd-gray-dark-a-200);
  }
}

.akd-separator {
  flex-shrink: 0;
  background-color: var(--akd-link-border-color);

  &[data-orientation="horizontal"] {
    height: 1px;
    width: 100%;
    margin: 0.5rem 0;
  }

  &[data-orientation="vertical"] {
    height: 1.5rem;
    width: 1px;
  }
}
