.akd-tooltip {
  --akd-tooltip-bg: var(--akd-gray-light-900);
  --akd-tooltip-text: var(--white);
  --akd-kbd: var(--akd-gray-dark-a-400);

  .dark & {
    --akd-tooltip-bg: var(--white);
    --akd-tooltip-text: var(--akd-gray-light-600);
    --akd-kbd: var(--akd-gray-light-a-400);
  }
}

.akd-tooltip {
  z-index: 200;
  overflow: hidden;
  border-radius: var(--akd-radius-md, 0.375rem);
  background-color: var(--akd-tooltip-bg);
  padding: 0.375rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--akd-tooltip-text);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  text-align: center;

  kbd {
    display: inline-block;
    text-align: center;
    vertical-align: baseline;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    text-transform: capitalize;
    color: var(--akd-kbd);
  }
}
