:root {
  --akd-toolbar-height: 2.75rem;
  --akd-safe-area-bottom: env(safe-area-inset-bottom, 0px);
  --akd-toolbar-bg-color: var(--white);
  --akd-toolbar-border-color: var(--akd-gray-light-a-100);
}

.dark {
  --akd-toolbar-bg-color: var(--black);
  --akd-toolbar-border-color: var(--akd-gray-dark-a-50);
}

.akd-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  &-group {
    display: flex;
    align-items: center;
    gap: 0.125rem;

    &:empty {
      display: none;
    }

    &:empty + .akd-separator,
    .akd-separator + &:empty {
      display: none;
    }
  }

  &[data-variant="fixed"] {
    // position: sticky;
    // top: 0;
    z-index: 10;
    width: 100%;
    min-height: var(--akd-toolbar-height);
    background: var(--akd-toolbar-bg-color);
    border-bottom: 1px solid #dadada;
    padding: 0 0.5rem;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    // @media (max-width: 480px) {
    //   position: absolute;
    //   top: auto;
    //   height: calc(var(--akd-toolbar-height) + var(--akd-safe-area-bottom));
    //   border-top: 1px solid var(--akd-toolbar-border-color);
    //   border-bottom: none;
    //   padding: 0 0.5rem var(--akd-safe-area-bottom);
    //   flex-wrap: nowrap;
    //   justify-content: flex-start;

    //   .akd-toolbar-group {
    //     flex: 0 0 auto;
    //   }
    // }
  }

  &[data-variant="floating"] {
    --akd-toolbar-padding: 0.125rem;
    --akd-toolbar-border-width: 1px;

    padding: 0.188rem;
    border-bottom: 1px solid #dadada;
    background-color: var(--akd-toolbar-bg-color);
    outline: none;
    overflow: hidden;

    &[data-plain="true"] {
      padding: 0;
      border-radius: 0;
      border: none;
      box-shadow: none;
      background-color: transparent;
    }

    @media screen and (max-width: 480px) {
      width: 100%;
      border-radius: 0;
      border: none;
      box-shadow: none;
    }
  }
}
